*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
 }
 
 html,
 body{
    height: 100%;
    width: 100%;
 } 

 body{
   background-color: rgb(229, 224, 218);
   font-family: helvetica;
   font-size: 3vh;
   font-weight: 400;
 }

nav{
   /* background-color: rgb(189, 164, 126); */
}

.hero{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2vh;
   padding-top: 2vh;
   padding-bottom: 2vh;
   position: fixed;


}

a{
   text-decoration: none;
   padding: 2vh;
   font-size: 3vh;
   font-weight: 200;
   color: black;
   /* mix-blend-mode: difference; */
}

.page1{
     width: 100%;
   display: flex;
   padding-top: 20vh;

}

.left{
     width: 50%;
    padding: 1vh;
    font-size: 3vh;
    font-weight:200;
}

.Right{
   display: flex;
   margin-left: 60vh;
}

 .left > button {
     border: none;
     background: none;
     padding-top:  3vh;
     padding-bottom: 5px;
     border-bottom:2px solid black;
     font-size: 2vh;
     font-weight: 500;
}


button:hover{
   color: #b12929;
}
 .main{
    font-size: 400px;
    font-weight: 600;
    margin-bottom:1px;
}

.main img{
   width: 300px;
   height: 300px;
}

button::before{
   color: white;
   background-color: #b12929;
   /* box-shadow: 0px 2px 3px black; */
}


.page2{
   height: 100%;
   width: 100%;
}

.upper > h1{
   width: 50%;
   font-weight: 500;
   padding-left: 3vh;
}

.lower > h1 {
   width: 50%;
   font-weight: 500;
   padding-left: 3vh;
   margin-top: 10vh;
}

.page3{
   width: 100%;
   padding: 0 30px;
   display: flex;
   margin-bottom: 5%;
}

.page3 > h1:first-child,
.page4nav > h1:first-child {
    width: 45%;
    font-size: 25px;
    font-weight: 600;
}

.page3 > h1:first-child > span,
.page4nav > h1:first-child >span{
    display: inline-block;
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.page3 div {
    width: 35%;
}

.page3 > div h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 2%;
    padding-left: 100px;
}

.page3 > div p {
    margin-bottom: 10%;
    font-size: 20px;
    font-weight: 600;
    padding-left: 100px;
    color: #939691;
}

.page3 h1:last-child {
   text-align: right;
   font-size: 20px;
   font-weight: 500;
   width: 20%;
}

.page4{
   /* width: 100%; */
   background-color: white;
   padding: 0 30px;
}

.page4nav {
   font-size: 9px;
   font-weight: 100;
   position: initial;
   display: flex;
   justify-content: space-between;
}

.page4Finally{
   position: relative;
   font-size: 280px;
   font-weight: 900;
   /* font-family: bebas; */
   text-align: center;
}

.page4Finally > video{
   width: 350px;
   height: 250px;
   object-fit: cover;
}

.footerpart{
   font-size: 13px;
   /* font-family: gilroy; */
   font-weight: 300;
   margin: auto;
   padding-bottom: 50px;
   display: flex;
   justify-content: space-between;
}

