*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
 }
 
 html,
 body{
    height: 100%;
    width: 100%;
 } 

 body{
   background-color: rgb(248, 245, 242);
   font-family: helvetica;
   font-size: 3vh;
   font-weight: 400;
 }

nav{
   /* background-color: rgb(189, 164, 126); */
}

.hero{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2vh;
   padding-top: 2vh;
   padding-bottom: 2vh;
   position: fixed;


}

a{
   text-decoration: none;
   padding: 2vh;
   font-size: 3vh;
   font-weight: 200;
   color: black;
   /* mix-blend-mode: difference; */
}

.page1{
     width: 100%;
   display: flex;
   padding-top: 20vh;

}

.left{
     width: 50%;
    padding: 1vh;
    font-size: 3vh;
    font-weight:200;
}

.Right{
   display: flex;
   margin-left: 60vh;
}

 .left > button {
     border: none;
     background: none;
     padding-top:  3vh;
     padding-bottom: 5px;
     border-bottom:2px solid black;
     font-size: 2vh;
     font-weight: 500;
}


button:hover{
   color: #b12929;
}
 .main{
    font-size: 400px;
    font-weight: 600;
    margin-bottom:1px;
}

.main img{
   width: 300px;
   height: 300px;
}

button::before{
   color: white;
   background-color: #b12929;
   /* box-shadow: 0px 2px 3px black; */
}


.page2{
   height: 100%;
   width: 100%;
}

.upper > h1{
   width: 50%;
   font-weight: 500;
   padding-left: 3vh;
}

.lower > h1 {
   width: 50%;
   font-weight: 500;
   padding-left: 3vh;
   margin-top: 10vh;
}


.page3{
   /* height: 100%; */
    width:  100%;
    padding-left: 3vh; 
    display: flex;
}
  

.page3 > h2.first-child{
   width: 45%;
   font-size: 10vh;
   font-weight: 600;
   padding-right: 20px;
}

.page3 > h2:first-child > span{
   display: inline-block;
   background-color: black;
   height: 15px;
   width: 15px;
   border-radius: 50%;
}

.page3 div{
   width: 35%;
}

.page3 > div h2{
   font-size: 20px;
   font-weight: 600;
   margin-left: 3%;
   padding-left: 18vh;
}

.page3 > div p {
   margin-bottom: 10vh;
   padding-left: 20vh;
   font-size: 20px;
   color: #939691;
}

.page3 h2 :first-child{
   text-align: right;
   font-size: 20px;
   font-weight: 600;
   width: 20%;
}
